#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0D0D0D;
    font-family: "Roboto";
    width: 100%;
}

.bar-navigation {
    position: sticky;
    top: 0;
    display: flex;
    background-color: #00000095;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: .8rem 0;
}
.bn-inicio, .bn-favoritos {
    height: 100%;
    border-radius: .5rem;
    text-decoration: none;
    background-color: #fff;
    padding: .5rem 1rem;
    color: #111;
    outline: none;
}

.filtro-movies {
    display: flex;
    height: 100%;
}
.filtro-input {
    height: 100%;
    outline: none;
    border-radius: .5rem 0 0 .5rem;
    border: none;
    padding: 0 0 0 .5rem;
    font-size: 16px;
    font-family: inherit;
}
.filtro-button {
    cursor: pointer;
    height: 100%;
    border-radius: 0 .5rem .5rem 0;
    border: none;
    background-color: #333;
    color: #fff;
    padding: 0 1rem;
}