.movies-container {
    display: grid;
    /* padding: 0 4rem; */
    grid-template-columns: repeat(3,1fr);
    .movie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}