.movies-container {
    display: grid;
    width: min-content;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 2rem 0 2rem 0;
}
.movie {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    gap: .6rem;
}
.movie-title {
    color: #fff;
    text-align: center;
}