.movie-details-container {
    display: flex;
    justify-content: center;
    padding: 4rem 4rem;
    flex: 1;
    gap: 2rem;
}
.md-image-container, .md-informacion-container {
    display: flex;
}
.md-image-container {
    flex: 0 0 306px;
    .md-image {
        width: 100%;
        height: auto;    
    }
}
.md-informacion-container {
    flex: 1;
    flex-direction: column;
    color: #fff;
}
.md-buttons-container {
    margin-top: auto;
    display: flex;
    gap: 2rem;
}
.md-btns-volver,
.md-btns-agregar-fav,
.md-btns-quitar-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10rem;
}
.md-btns-volver {
    text-decoration: none;
    background-color: #2cf;
    color: blue;
    width: 10rem;
}
.md-btns-quitar-fav, .md-btns-agregar-fav {
    font-family: inherit;
    width: 15rem;
}
.md-btns-agregar-fav {
    color: black;
    background-color: white;
}
.md-btns-quitar-fav {
    color: white;
    background-color: #f55;
}

.md-btns-volver:hover, 
.md-btns-agregar-fav:hover, 
.md-btns-quitar-fav:hover {
    outline: 2px solid white;
    outline-offset: 2px;
}

@media (max-width: 898px) {
    .md-buttons-container {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .md-btns-volver, 
    .md-btns-agregar-fav, 
    .md-btns-quitar-fav {
        width: 100%;
    }
}